version: '3'
services:

  base: &base
    build: 
      context: .
      dockerfile: Dockerfile
    image: wuzen_sale_app
    platform: linux/amd64
    env_file: .env
    volumes:
      - .:/app
      - pip38:/usr/local/lib/python3.8/site-packages
    command: ["sh", "-c", "npm isntall && pip install -r requirements.txt"]

  saleapp_migration:
    <<: *base
    image: wuzen_sale_app
    command: ["sh", "-c", "python3 /app/manage.py makemigrations && python3 /app/manage.py migrate" ]
    volumes:
      - .:/app
      - pip38:/usr/local/lib/python3.8/site-packages
    env_file: .env
    depends_on:
      db:
        condition: service_healthy


  saleapp: 
    <<: *base
    image: wuzen_sale_app
    restart: on-failure
    #django runserver
    command: ["sh", "-c", "python3 /app/manage.py runserver 0.0.0.0:8000"]
    #gunicorn wsgi runserver
    # command: ["sh", "-c", "gunicorn mystore.wsgi:application --bind :8000 --workers 3 --reload"]
    volumes: 
      - .:/app
      - pip38:/usr/local/lib/python3.8/site-packages
    ports: 
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
      saleapp_migration:
        condition: service_completed_successfully
    env_file: .env

  saleapp_build_res:
    <<: *base
    image: wuzen_sale_app
    command: ["sh", "-c", "npm run build"]
    volumes:
      - .:/app


  db:
    image: postgres:latest
    restart: always
    volumes:
      - pgdb:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      # POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
    env_file: .env
    healthcheck:
      test: ["CMD", "pg_isready", "-U", 'Wuzenliz', "-d", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdb:
  app:
  pip38:
  # redis: