{% load heroicons static %}
<input type="checkbox" id="cartModal" class="modal-toggle" />
<div class="modal modal-bottom sm:modal-middle">
 <div class="modal-box w-full max-w-7xl p-2">
   <label for="cartModal" class="btn btn-circle btn-sm">
    {% heroicon_outline 'x-mark' %}
   </label>
   <div class="hero">
    <div class="hero-content text-center">
      <div class="max-w-md prose">
        <h1 class="text-5xl font-bold">Hello there</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
   </div>
  </div>
</div>