<!-- ./home/templates/home/product.html -->
{% extends "base.html" %}
{% load static humanize l10n product_lib %}
{% block title %}Product{% endblock title %}
{% block title_suffix %}-{{ product.name }}{% endblock title_suffix %}
{% block content %}

{% define product.main_variant as mainvariant  %}
<!-- breadcrumb -->
<div class="container py-4 flex items-center gap-3 mx-auto">
 <a href="../index.html" class="text-primary text-base">
  <i class="fa-solid fa-house"></i>
 </a>
 <span class="text-sm text-gray-400">
  <i class="fa-solid fa-chevron-right"></i>
 </span>
 <p class="text-gray-600 font-medium">Product</p>
</div>
<!-- ./breadcrumb -->

<!-- product-detail -->
<div class="container grid grid-cols-2 gap-6 mx-auto">
 <div>
  <img src="{{ product.main_image.url }}" alt="product" class="max-w-3xl" />
  <div class="grid grid-cols-6 gap-4 mt-4">
   <img src="{{ product.main_image.url }}" alt="product" class="object-cover h-16 w-full cursor-pointer border border-primary" />
   {% if product.images %}
   <!-- foreach  -->
    {% for item in product.images.all %}
    <img
     src="{{ item.image.url }}"
     alt="{{ product.name }}-i-{{ image.id }}"
     class="object-cover h-16 w-full cursor-pointer border border-primary" />
    {% endfor %}
   <!-- ./foreach -->
   {% endif %}
  </div>
 </div>

  <div>
   <h2 class="text-3xl font-medium uppercase mb-2">{{ product.name }}</h2>
   <div class="flex items-center mb-4">
    <div class="flex gap-1 text-sm text-yellow-400">
     <span><i class="fa-solid fa-star"></i></span>
     <span><i class="fa-solid fa-star"></i></span>
     <span><i class="fa-solid fa-star"></i></span>
     <span><i class="fa-solid fa-star"></i></span>
     <span><i class="fa-solid fa-star"></i></span>
    </div>
    <div class="text-xs text-gray-500 ml-3">(0 Reviews)</div>
   </div>
   <div class="space-y-2">
    <p class="text-gray-800 font-semibold space-x-2">
     <span>Availability: </span>
     {% if product.is_out_of_stock %}
     <span class="text-danger">In Stock</span>
     {% else %}
     <span class="text-green-600">In Stock</span>
     {% endif %}
    </p>
    <p class="space-x-2">
     <span class="text-gray-800 font-semibold">Brand: </span>
     <span class="text-gray-600">{{ product.brand }}</span>
    </p>
    <p class="space-x-2">
     <span class="text-gray-800 font-semibold">Category: </span>
     <span class="text-gray-600">{{ product.category }}</span>
    </p>
    <p class="space-x-2">
     <span class="text-gray-800 font-semibold">SKU: </span>
     <span class="text-gray-600">{{ mainvariant.sku }}</span>
    </p>
   </div>
   <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
    <p class="text-xl text-primary font-semibold">{{ mainvariant.price|currency }}</p>
    {% if mainvariant.saleoff %}
    <p class="text-base text-gray-400 line-through">{{ mainvariant.sale_price|currency }}</p>
    {% endif %}
   </div>

   <p class="mt-4 text-gray-600">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos eius eum
    reprehenderit dolore vel mollitia optio consequatur hic asperiores inventore
    suscipit, velit consequuntur, voluptate doloremque iure necessitatibus
    adipisci magnam porro.
   </p>

   <div class="pt-4">
    <h3 class="text-sm text-gray-800 uppercase mb-1">Size</h3>
    <div class="flex items-center gap-2">
     <div class="size-selector">
      <input type="radio" name="size" id="size-xs" class="hidden" />
      <label
       for="size-xs"
       class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600"
       >XS</label
      >
     </div>
     <div class="size-selector">
      <input type="radio" name="size" id="size-sm" class="hidden" />
      <label
       for="size-sm"
       class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600"
       >S</label
      >
     </div>
     <div class="size-selector">
      <input type="radio" name="size" id="size-m" class="hidden" />
      <label
       for="size-m"
       class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600"
       >M</label
      >
     </div>
     <div class="size-selector">
      <input type="radio" name="size" id="size-l" class="hidden" />
      <label
       for="size-l"
       class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600"
       >L</label
      >
     </div>
     <div class="size-selector">
      <input type="radio" name="size" id="size-xl" class="hidden" />
      <label
       for="size-xl"
       class="text-xs border border-gray-200 rounded-sm h-6 w-6 flex items-center justify-center cursor-pointer shadow-sm text-gray-600"
       >XL</label
      >
     </div>
    </div>
   </div>

   <div class="pt-4">
    <h3 class="text-xl text-gray-800 mb-3 uppercase font-medium">Color</h3>
    <div class="flex items-center gap-2">
     <div class="color-selector">
      <input type="radio" name="color" id="red" class="hidden" />
      <label
       for="red"
       class="border border-gray-200 rounded-sm h-6 w-6 cursor-pointer shadow-sm block"
       style="background-color: #fc3d57"></label>
     </div>
     <div class="color-selector">
      <input type="radio" name="color" id="black" class="hidden" />
      <label
       for="black"
       class="border border-gray-200 rounded-sm h-6 w-6 cursor-pointer shadow-sm block"
       style="background-color: #000"></label>
     </div>
     <div class="color-selector">
      <input type="radio" name="color" id="white" class="hidden" />
      <label
       for="white"
       class="border border-gray-200 rounded-sm h-6 w-6 cursor-pointer shadow-sm block"
       style="background-color: #fff"></label>
     </div>
    </div>
   </div>

   <div class="mt-4">
    <h3 class="text-sm text-gray-800 uppercase mb-1">Quantity</h3>
    <div
     class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
     <div
      class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">
      -
     </div>
     <div class="h-8 w-8 text-base flex items-center justify-center">4</div>
     <div
      class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none">
      +
     </div>
    </div>
   </div>

   <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
    <a
     href="#"
     class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-primary transition">
     <i class="fa-solid fa-bag-shopping"></i> Add to cart
    </a>
    <a
     href="#"
     class="border border-gray-300 text-gray-600 px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:text-primary transition">
     <i class="fa-solid fa-heart"></i> Wishlist
    </a>
   </div>

   <div class="flex gap-3 mt-4">
    <a
     href="#"
     class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
     <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a
     href="#"
     class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
     <i class="fa-brands fa-twitter"></i>
    </a>
    <a
     href="#"
     class="text-gray-400 hover:text-gray-500 h-8 w-8 rounded-full border border-gray-300 flex items-center justify-center">
     <i class="fa-brands fa-instagram"></i>
    </a>
   </div>
  </div>
 </div>
</div>
<!-- ./product-detail -->

<!-- description -->
<div class="container pb-16 mx-auto">
 <h3 class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium">Product details</h3>
 <div class="w-3/5 pt-6">
  <div class="text-gray-600 prose">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur necessitatibus deleniti natus
        dolore cum maiores suscipit optio itaque voluptatibus veritatis tempora iste facilis non aut
        sapiente dolor quisquam, ex ab.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, quae accusantium voluptatem
       blanditiis sapiente voluptatum. Autem ab, dolorum assumenda earum veniam eius illo fugiat possimus
       illum dolor totam, ducimus excepturi.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quia modi ut expedita! Iure molestiae
       labore cumque nobis quasi fuga, quibusdam rem? Temporibus consectetur corrupti rerum veritatis
       numquam labore amet.</p>
  </div>
  
  {% if  product.attributes %}
  <table class="table-auto border-collapse w-full text-left text-gray-600 text-sm mt-6">
   {% for attr in product.attributes.all %}
   <tr>
     <th class="py-2 px-4 border border-gray-300 w-40 font-medium">{{ attr.name }}</th>
     <th class="py-2 px-4 border border-gray-300 ">{{ attr.value }}</th>
   </tr>
   {% endfor %}
  </table>
  {% endif %}
 </div>
</div>
<!-- ./description -->
{% endblock content %}
