{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}" data-theme="lofi">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="{% block meta_description %}{% endblock meta_description %}" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock meta_keywords %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"/>
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>
        <title>
            {{ sitename }} -    
            {% block title %}{% endblock title %}
            {% block title_suffix %}{% endblock title_suffix %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind-output.css' %}"/>
        <link rel="stylesheet" type="text/css"  href="{% static 'css/tiny-slider.css' %}">
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock extra_css %}
    </head>

    <body>
        <div class="flex flex-col h-screen justify-between">
        <!-- Nav - header -->
        {% include 'components/_header.html' %}
        <!---->
        {% include 'components/_navbar.html' %}
        <!-- End Nav - header -->

        <!--breadcrumb -->
        {% block breadcrumb  %}{% endblock breadcrumb  %}
        <!-- End breadcrumb -->

        <!-- Content -->
        <div class="mb-auto pb-3">
        {% block content %}{% endblock content %}
        </div>
        <!-- End Content -->

        {# block for message #}
        <div id="message" class="fixed bottom-0 right-0 m-4 z-50">
            {% block message %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} shadow-lg ">
                            <div>
                                <i class="fa-solid fa-xmark"></i>
                                <span>{{ message }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class='alert alert-error alert-info alert-success alert-warning hidden'>
                    <a class='close' data-dismiss='alert' href='#'>&times;</a>
                    <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
            {% endblock message %}
        </div>
        
        {# Global javascript #}
        {% include "corejs.html" %}
        
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock extra_js %}
        
        <!-- Footer -->
        {% include "components/_footer.html" %}
        <!-- End Footer -->
        </div>
    </body>
</html>
