{% extends "base_auth.html" %}
{% load static %}
{% block content %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="prose text-center lg:text-left">
      <h1 class="text-5xl font-bold">Shop now!</h1>
      <p class="py-6 italic text-2xl">
        Your life your style.
      </p>
    </div>
    <div class="card w-full max-w-sm flex-shrink-0 bg-base-100 shadow-2xl">
      <div class="card-body">
        <div class="card-title justify-center">
          <figure>
            <img src="{% static 'img/Logo.svg' %}" alt="" class="h-20 w-20" />
            <span class="text-xl">Zen Shop</span>
          </figure>
        </div>
        <form method="post" class="authForm">
         {% csrf_token %}
        <div class="form-control">
          <label class="label">
            <span class="label-text">Username</span>
          </label>
          <input type="text" placeholder="Username" name="username" class="input-bordered input" />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="password"
            placeholder="password"
            name="password"
            class="input-bordered input" />
          <label class="label">
            <a href="#" class="link-hover label-text-alt link">Forgot password?</a>
          </label>
        </div>
        <div class="form-control mt-6">
          <div class="flex w-full">
            <div class="card grid h-20 flex-grow place-items-center">
              <button class="btn-primary btn" type="submit">Login</button>
            </div>
            <div class="divider divider-horizontal">OR</div>
            <div class="card grid h-20 flex-grow place-items-center">
              <a class="btn-secondary btn" href="{% url 'register' %}">Register</a>
            </div>
          </div>
        </div>
       </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
