{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="fantasy">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Saleapp for sale" />
        <meta http-equiv="X-UA-Compatible" content="IE=7" />
        <meta name="keywords" content="{% if metakeywords %}
        {{ metakeywords }}
        {% else %}
        shop, saleoff, shopee,...
        {% endif %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}"/>
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}"/>
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}"/>
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock extra_css %}
    </head>

    <body class="{% block body_class %}{% endblock body_class %}">
        {% block content %}
        {% endblock content %}

        {# Global javascript #}
        {% include "corejs.html" %}
        <script type="text/javascript" src="{% static 'js/saleapp.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock extra_js %}
    </body>
</html>
