{% extends "base.html" %}
<!---->
{% load static i18n humanize %}
{% load product_lib %}
<!---->
{% block title_suffix %}Giỏ hàng{% endblock title_suffix %}
{% block breadcrumb  %}
<div class="py-5 pl-10 breadcrumbs z-0">
 <ul>
  <li>
    <a href="{% url 'index' %}" class="text-primary text-base hover:text-lg">
     <i class="fa-solid fa-house"></i>
    </a>
  </li>
  <li>
    <a href="{% url 'cart' %}" class="text-primary text-base">
     <i class="fa-solid fa-shopping-cart"> </i>
     <p class="text-base font-semibold hover:text-lg">Giỏ hàng</p>
    </a>
  </li>
 </ul>
</div>
{% endblock breadcrumb  %}

{% block content %}
<div class="container mx-auto">
  <div class="flex flex-wrap">
    <div class="w-full">
    <div class="px-4 py-5 sm:p-6 bg-white shadow sm:rounded-lg">
      <table class="table-auto w-full">
      <thead>
        <tr>
        <th class="px-4 py-2">Tên sản phẩm</th>
        <th class="px-4 py-2">Đơn giá</th>
        <th class="px-4 py-2">Số lượng</th>
        <th class="px-4 py-2">Thành tiền</th>
        <th class="px-4 py-2">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {% for item in carts %}
        <tr>
        <td class="border px-4 py-2 text-center">{{ item.product.product_name }}</td>
        <td class="border px-4 py-2 text-center">{{ item.product.price|floatformat:0|intcomma }}</td>
        <td class="border px-4 py-2 text-center" data-quantity='{{ item.quantity }}' data-url='{% url 'update_cart' %}' data-item_id='{{ item.product.sku }}'>
          <div class="flex justify-center">
            <a href="javascript:void(0)"
              class="btn btn-primary btn-sm cart-decrease">
              <i class="fa-solid fa-minus"></i>
            </a>
            <span class="px-4 py-2" id='prod_{{ item.product.sku }}'>{{ item.quantity }}</span>
            <a href="javascript:void(0)"
              class="btn btn-primary btn-sm cart-increase">
              <i class="fa-solid fa-plus"></i>
            </a>
          </div>
        </td>
        <td class="border px-4 py-2 text-center">{{ item.cost|floatformat:0|intcomma }}</td>
        <td class="border px-4 py-2 text-center">
          <a href="{% url 'remove_cart_item' product_id=item.product.id  cart_item_id=item.id %}"
            class="btn btn-danger btn-sm">
          <i class="fa-solid fa-trash"></i>
          </a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
    </div>
    <div class="w-full py-4">
    <div class="px-4 py-5 sm:p-6 bg-white shadow sm:rounded-lg">
      <div class="flex justify-end">
      <div class="flex flex-col">
        <span class="font-semibold">Tổng tiền</span>
        <span class="text-3xl font-semibold">{{ grand_total|floatformat:0|default:0 }} VNĐ</span>
      </div>
      </div>
    </div>
    </div>
    <div class="w-full py-4">
      <div class="px-4 py-5 sm:p-6 bg-white shadow sm:rounded-lg">
        <div class="flex justify-end">
        {% if total_item > 0 %}
          <a href="{% url 'checkout' %}" class="btn btn-primary">
            Thanh toán
          </a>
        {% else %}
          <a href="{% url 'shop' %}" class="btn btn-primary">
            Tiếp tục mua hàng
          </a>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}