{% extends "base.html" %}
<!---->
{% load static i18n %}
<!---->
{% block title_suffix %}Giỏ hàng{% endblock title_suffix %}
{% block breadcrumb  %}
<div class="py-5 pl-10 breadcrumbs z-0">
 <ul>
  <li>
    <a href="{% url 'index' %}" class="text-primary text-base hover:text-lg">
     <i class="fa-solid fa-house"></i>
    </a>
  </li>
  <li>
    <a href="{% url 'cart' %}" class="text-primary text-base">
     <i class="fa-solid fa-shopping-cart"> </i>
     <p class="text-base font-semibold hover:text-lg">Giỏ hàng</p>
    </a>
  </li>
  <li>
    <a href="{% url 'cart' %}" class="text-primary text-base">
        <i class="fa-solid fa-money-bill"></i>
     <p class="text-base font-semibold hover:text-lg">Thanh Toán</p>
    </a>
  </li>
 </ul>
</div>
{% endblock breadcrumb  %}

{% block content %}
<div class="container mx-auto">
 <div class="flex flex-wrap">
  <div class="w-full lg:w-3/4">
   <div class="p-8">
    <div class="flex flex-wrap">
     <div class="w-full lg:w-1/2">
      <div class="mb-8">
       <h2 class="text-2xl font-semibold mb-4">Thông tin khách hàng</h2>
       {% include 'store/cart/select_address.html' with address_list=address_list %}
      </div>
     </div>
     <div class="w-full lg:w-1/2">
      <div class="mb-8">
       <h2 class="text-2xl font-semibold mb-4">Ghi chú</h2>
       <textarea class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-gray-500" rows="10" placeholder="Ghi chú"></textarea>
{% endblock content %}