{% load heroicons static %}
<footer class="footer footer-center w-full p-10 bg-primary text-primary-content">
 <div>
   <a href="/" class="logo"
   style="background: url('{% static 'img/Logo.svg' %}') no-repeat top left;background-size:4em 4em;">
   </a>
   <p class="font-bold text-6xl">
     ZENSHOP<br/>
   </p> 
   <p class="font-bold">Registed © 2023</p>
 </div> 
 <div>
   <div class="grid grid-flow-col gap-4">
    <a>
      <i class="fa fa-facebook"></i>
    </a> 
    <a>
      <i class="fa fa-tiktok"></i>
    </a> 
    <a>
      <i class="fa fa-youtube"></i>
    </a>
   </div>
 </div>
</footer>