{% load heroicons static %}
<header class="py-4 shadow-sm bg-white container-fluid flex justify-center min-w-full px-3 lg:px-5 lg:container">
 <div class="container mx-auto flex items-center justify-between w-11/12 md:w-10/12">
     <a href="{% url 'index' %}">
         <img src="{% static 'img/Logo.png' %}" alt="Logo" class="object-scale-down w-14 max-w-{75px}">
     </a>
     <div class="w-full max-w-xl relative hidden lg:flex">
         <span class="absolute left-4 top-3 text-lg text-gray-400">
          <i class="fa-solid fa-magnifying-glass"></i>
         </span>
         <input type="text" name="search" id="search"
             class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none"
             placeholder="search">
         <button
             class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition">Search</button>
     </div>
     <div class="flex items-center space-x-4">
         {% comment %} <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
             <div class="text-2xl">
              <i class="fa-regular fa-heart"></i>
             </div>
             <div class="text-xs leading-3">Wishlist</div>
             <div
                 class="absolute right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                 8</div>
         </a> {% endcomment %}
         <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
             <div class="text-2xl">
              <i class="fa-solid fa-bag-shopping"></i>
             </div>
             <div class="text-xs leading-3">Cart</div>
             <div
                 class="absolute -right-3 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                 2</div>
         </a>
         <a href="#" class="text-center text-gray-700 hover:text-primary transition relative">
          <div class="text-2xl">
           <i class="fa-regular fa-user"></i>
          </div>
          <div class="text-xs leading-3">Account</div>
         </a>
     </div>
 </div>
</header>