{% extends "base_layout.html" %}
{% block content %}

    <h3>{{ title }}</h3>
    <div class="table-responsive">
        <form action="{% url "query" %}" id="create_form" method="post">

            <div class="form-group">
                <label for="order_id">Mã hóa đơn</label>
                <input class="form-control" id="order_id"
                       name="order_id" type="text"/>
            </div>
            <div class="form-group">
                <label for="order_id">Thời gian thanh toán</label>
                <input class="form-control" id="trans_date"
                       name="trans_date" type="text"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Query</button>
            </div>

            {% csrf_token %}
        </form>
        {% if data %}
            {% for key,val in data.items %}
             <div class="form-group">
                <label>{{ key }}: {{ val }}</label>
            </div>
            {% endfor %}

        {% endif %}
    </div>

{% endblock %}
